<!DOCTYPE html>
<html>
  <head>
    <title>S5-NewUltra 超新科技-變距產品的專家</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
      @import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
      * { font-family: 'Noto Sans TC', '微軟正黑體', sans-serif; }
    </style>
  </head>

  <body>
    <!--Navbar-->
    <div class="my-container my-header">
      <a href="/products"><div id="top-logo"> <%= image_tag 'Logo橫向上架測試.png', class: "img-responsive center-block" %> </div></a>
        <!--<ul class="float-right">
          <li>帳號</li>
          <li>密碼</li>
          <li><button>登入</button></li>
        </ul>-->
    </div>
    <div class="clearfix"></div>
    <!--Tabs-->
    <div class="my-tabs">
      <div class="my-container">
        <ul class="my-tabs-ul de-a-decorated">
          <li> <a href="/products">首頁</a> </li>
          <!--product block-->
          <li class="tab-product-show"><a href="#top-logo">產品一覽</a>
            <div class="product-show-block">
              <div class="product-show-content de-a-decorated">
                <% @products.each do |product| %>
                  <a href="/products/<%= product.id %>"><div class="product-thumbnail"><h6><%= product.name %></h6><img src="http://lorempixel.com/136/160/technics/6" alt=""></div></a>
                <% end %>
              </div>
            </div>
          </li>
          <li> <a href="">產品資訊</a> </li>
          <li> <a href="">客製化選用表</a> </li>
        </ul>
      </div>
    </div>
    <div class="line-qr-code">客服LINE ID<br />@xyp7024w<br /><%= image_tag 'lineQRcode.jpg' %></div>
    <%= yield %>
    <!--Footer-->
    <div class="my-container my-footer">
      <ul class="my-footer de-a-decorated">
        <li><a href="/">首頁</a> </li>
        <li><a href="/products/<%= Product.first.id if Product.first %>">產品資訊</a> </li> <!--若有產品存在-->
        <li><a href="">客製化選用表</a> </li>
      </ul>
    </div>
  </body>
</html>
